</div>
<div class="white-bg large-12 column">

<div class="row" style="margin-bottom: 20px;">
  <div class="large-12 column">
    <h1>Step 1: Connect</h1>
    <p>Connect your News Triangle account to your networks.</p>
    <div class="row">
      <div class="large-6 large-offset-2 column">
        <h2>
          Facebook
        </h2>
      </div>
      <div class="large-4 column">
        <% if current_user.is_facebook == true %>
          <a href="#" class="disabled button">Connected</a>
        <% else %>
          <%= link_to 'Connect', user_omniauth_authorize_path(:facebook), class: 'button' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-offset-2 column">
        <h2 class="">
          LinkedIn
        </h2>
      </div>
      <div class="large-4 column">
        <% if current_user.is_linkedin == true %>
          <a href="#" class="disabled button">Connected</a>
        <% else %>
          <%= link_to 'Connect', user_omniauth_authorize_path(:linkedin), class: 'button' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-offset-2 column">
        <h2 class="">
          Twitter
        </h2>
      </div>
      <div class="large-4 column">
        <% if current_user.is_twitter == true %>
          <a href="#" class="disabled button">Connected</a>
        <% else %>
          <%= link_to 'Connect', user_omniauth_authorize_path(:twitter), class: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <h1>Step 2: Target</h1>
    <p>Connect your News Triangle account to your news sources.</p>

    <div class="row">
      <div class="large-6 large-offset-2 column">
        <h2 class="subheader">
          Guardian
        </h2>
      </div>
      <div class="large-4 column">
        <a href="#" class="disabled button">Connect</a>
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-offset-2 column">
        <h2 class="subheader">
          Bloomberg
        </h2>
      </div>
      <div class="large-4 column">
        <a href="#" class="disabled button">Connect</a>
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-offset-2 column">
        <h2 class="subheader">
          NY Times
        </h2>
      </div>
      <div class="large-4 column">
        <a href="#" class="disabled button">Connect</a>
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-offset-2 column">
        <h2 class="subheader">
          Request
        </h2>
      </div>
      <div class="large-4 column">
        <a href="#" class="disabled button">Connect</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <h1>Step 3: Download</h1>
  </div>
</div>
