<div class="row">
  <div class="large-12 column">
    <h1>Step 1: Connect</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <h1>Step 2: Target</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <h1>Step 3: Download</h1>
  </div>
</div>