
            <div class="hero">
                <div class="Grad slidehi">

                    <div class="cue col-full">
                        <div class="floatwrapper text-center">
                            <h1>
                            <b>A Triangle</b></h1>
                            <h2>Making news relevant</h2>
                        </div>
                    </div>
                    <div class="cue col-full">
                        <div class="floatwrapper text-center">
                        <a href="javascript:void((function(){ console.log('ATriangle.com bookmarklet Javascript is firing.'); })());" class="button radius large">AT Bookmarklet</a>
                        <a href="javascript:(function()%7Bfunction scrape_nytimes_homepage()%7Bvar currentArr%3D%5B%5D%3B%24%24jq(%27%23main .story:not(.advertisement):not(.autosStory)%27).each(function(i,item)%7Bvar %24this%3D%24%24jq(item)%3Bvar date%3DDate()%3Bvar title%3D%24%24jq(item).find(%27h2, h3, h5, h6:last-child%27).text()%3Bvar content%3D%24%24jq(item).find(%27.summary%27).html()%3Bvar url%3D%24%24jq(item).find(%27h2 a, h3 a, h5 a, h6:last-child a%27).attr(%27href%27)%3Bvar currentObj%3D%7B%7D%3Bif(content!%3D%3Dundefined)%7BcurrentObj.url%3Durl%3BcurrentObj.title%3Dtitle%3Bif(content!%3D%3Dundefined)%7BcurrentObj.content%3Dcontent%3B%7DcurrentArr.push(currentObj)%3Bconsole.log(currentObj)%3B%7D%7D)%3BmyRootRef.push(currentArr)%3B%7Dfunction append_jQuery_firebase()%7Bvar jq%3Ddocument.createElement(%27script%27)%3Bjq.src%3D"http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"%3Bdocument.getElementsByTagName(%27head%27)%5B0%5D.appendChild(jq)%3Bvar fb%3Ddocument.createElement(%27script%27)%3Bfb.src%3D"https://cdn.firebase.com/js/client/1.0.15/firebase.js"%3Bdocument.getElementsByTagName(%27head%27)%5B0%5D.appendChild(fb)%3B%7Dfunction initialize_jQuery_firebase()%7Bwindow.myRootRef%3Dnew Firebase(%27https://atriangle.firebaseio.com/%27)%3Bwindow.%24%24jq%3DjQuery%3B%7Dfunction bookmarklet_code()%7Bappend_jQuery_firebase()%3BsetTimeout(function()%7Binitialize_jQuery_firebase()%3BsetTimeout(function()%7Bscrape_nytimes_homepage()%3B%7D,2500)%3B%7D,2500)%3B%7Dbookmarklet_code()%3B%7D)()%3B" class="button radius large">NY Times Homepage Bookmarklet</a>
<p>Drag the link above into your bookmarks bar</p>

                    </div>

                </div>
            </div>

            <div class="content col-full text-center">
                An project by <a href="http://twitter.com/rememberlenny">Leonard K. Bogdonoff</a>
                        </div>
            </div>

