
            <div class="hero">
                <div class="Grad slidehi">
                    <div class="clouds fl"></div>
                    <div class="lion fr"></div>

                    <div class="cue col-full">
                        <div class="floatwrapper">
                            <h1>
                            <b>Soka <br>Education</b></h1>
                            <h2>Creating  Value for the 21st Century</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="whatis">
                    <div class="col-full">
                        <div class="rap">
                        <h3>The Starting Point</h3>
                        <blockquote>
                        <p>The starting point and essence of Soka education is the spirit to treasure each student individually so that they can become happy and enjoy a glorious future. Education does not exist for the sake of the nation, for business, or for religion.  The aim of Soka education is the happiness of oneself and others, as well as society as a whole, and peace for all humanity.</p><footer class="text-right ltheadfont"> Daisaku Ikeda </footer></blockquote>
                        </div>
                        <!-- <a href="#"> Starting </a> -->
                    </div>
                </div>
                <div class="meaning Grad">
                    <div class="col-full">
                      <!--  <a href="#"> Meaning </a> -->
                      <div class="twelve rap">
                            <h3 class="first">Soka means Value Creation</h3>
                            <hr>
                            <div class="three fl text-center">
                                <div class="kanji ">
                                    <h3>
                                        <span class="tooltip ltheadfont" data-tooltip='"so"'>創</span><br>
                                        <span class="tooltip ltheadfont" data-tooltip='"ka"'>価</span>

                                    </h3>
                                </div>
                            </div>
                            <div class="nine fr">

                                <div class="two-col">

                                    <div class="first ">
                                        <p> The founder of Soka education, Tsunesaburo Makiguchi, established this pedagogy based on his firm belief that the happiness of children should be the purpose of education.</p>
                                    </div>
                                     <div class="">
                                       <p class=""> A key element of Soka education is the quality of the relationship between teacher and student. The teacher’s genuine care and concern for the student, and their efforts to nurture the unique character and potential of each learner, are the fundamental heart of Soka education.</p>
                                    </div>

                                </div>
                                <div class="fr">
                                    <p class="important">"Soka" is derived from the Japanese characters “sozo” (creation) and “kachi” (value), and <u>literally means value creation.</u>  Soka education seeks to empower students to perceive value in every aspect of life.  </p>
                               </div>
                            </div>
                            <hr>
                        </div>
                       <!--  <a href="#"> Meaning </a> -->
                        </div>
                </div>
                <div class="teacherstudent">
                    <div class="col-full">
                        <!--  <a href="#"> Philosophy </a> -->
                        <div class="rap text-left">
                            <h3><span class="text-center">Educational philosophy</span></h3>
                            <p class="text-left"> Makiguchi’s educational philosophy is rooted in the understanding that:</p>
                            <ul class="text-center">
                                <hr>
                                 <li>The purpose of education is the lifelong happiness of the learner.</li>
                                 <li>Wisdom comes from the awareness that all life is interrelated.</li>
                                 <li>Deep respect for the learner unlocks inner-motivated learning.</li>
                                 <hr>
                             </ul>
                         </div>
                    </div>
                </div>

            </div>
            <div class="content col-full"></div>

