
            <div class="hero">
                <div class="Grad slidehi">

                    <div class="cue col-full">
                        <div class="floatwrapper text-center">
                            <h1>
                            <b>A Triangle</b></h1>
                            <h2>Making news relevant</h2>
                        </div>
                    </div>
                    <div class="cue col-full">
                        <div class="floatwrapper text-center">
                   <%= render 'layouts/global/at_test_bookmarklet' %>     
                   <%= render 'layouts/global/nytimes_home_bookmarklet' %>     
                       
<p>Drag the link above into your bookmarks bar</p>

                    </div>

                </div>
            </div>

            <div class="content col-full text-center">
                An project by <a href="http://twitter.com/rememberlenny">Leonard K. Bogdonoff</a>
                        </div>
            </div>

