<div class="hero" style="margin-top:10%; margin-bottom:10%;">
    <div class="Grad slidehi row">
        <div class="text-center large-5 column">
            <h1>
                <%= image_tag 'facebook/icon.png' %>
            </h1>
        </div>
      <% if user_signed_in? %>
        <div class="cue large-7 column">
            <div class="floatwrapper" style="margin-top: 70px">
                <h2 style="gold-like-back">Making news relevant</h2>
                    <ul class="no-bullet" style="margin-top: 30px">
                        <li>
                           <%= render 'layouts/global/at_test_bookmarklet' %>
                        </li>
                        <li>
                           <%= render 'layouts/global/nytimes_home_bookmarklet' %>
                        </li>
                    </ul>
                    <p><strong>Drag the link above into your bookmarks bar</strong></p>
            </div>
        </div>
      <% end %>
    </div>

</div>

<div class="content col-full text-center">
    An project by <a href="http://twitter.com/rememberlenny">Leonard K. Bogdonoff</a>
</div>
