</div>
<div class="white-bg large-12 column">
  <div class="row">
    <div class="large-12 text-center column">
      <img src="https://raw.githubusercontent.com/rememberlenny/a-triangle/master/app/assets/images/demo/demo-grid.gif" alt="">
      <img src="https://raw.githubusercontent.com/rememberlenny/a-triangle/master/app/assets/images/demo/demo-single.gif" alt="">
    </div>
  </div>
</div>
