<div class="large-6 column">
  <h1>News tips <br>from your friends</h1>
  <p>Your social networks are a treasure trove of data. Help identify news that relates to you by filtering it with your social network.</p>
  <ul>
    <li>Locations</li>
    <li>Companies</li>
    <li>Interactions</li>
  </ul>
</div>
<div class="large-6 column">
  <%= image_tag 'explain.png' %>
</div>
