<div class="large-6 column">
  <h1>News tips <br>from your friends</h1>
  <p>Tap your social networks to identify socially relevant news.</p>
</div>
<div class="large-6 column">
  <%= image_tag 'explain.png' %>
</div>
<div class="large-12">
  <%= image_tag 'guardian.png' %>
</div>
<div class="large-12">
  <%= image_tag 'bloomberg.png' %>
</div>