<h1>Parser#Complete</h1>

<h2 class="subheader">Content</h2>
<%= params[:article_content] %>

<h2 class="subheader">Locations</h2>
<%= @parse_result %>


<%= link_to 'Submit another text', parser_submit_text_path, class: "button secondary" %>

<hr>

<%= session.inspect %>
