<h1>Parser#Complete</h1>

<div class="row">
  <h2 class="subheader">Content</h2>
  <%= params[:article_content] %>
</div>

<div class="row">
  <h2 class="subheader">Locations</h2>
  <%= @parse_result %>
</div>

<hr>

<div class="row">
  <%= link_to 'Submit another text', parser_submit_text_path, class: "button secondary" %>
</div>


<%= session.inspect %>
