<div class="large-12 column footer-primary">
  <div class="row ">
    <div class="large-8 column">
      <h3>Never miss important news again</h3>
    </div>
    <div class="large-4 column">
      <%= link_to feed_path, class: 'button' do %>
      <h3>Sign up now</h3>
      <% end %>
    </div>
  </div>
</div>
<div class="large-12 column footer-secondary">
  <div class="row ">
    <div class="large-3 column">
      
    </div>
    <div class="large-3 column">
      
    </div>
    <div class="large-3 column">
      
    </div>
  </div>
</div>
<div class="large-12 column footer-third">
  <div class="row ">
    <div class="large-12 column">
      <p class="text-center text-white">Made with Δ by <a href="http//twitter.com/rememberlenny">Leonard K. Bogdonoff</a></p>
    </div>
  </div>
</div>