<div class="large-12 column footer-primary">
  <div class="row ">
    <% if user_signed_in? %>
      <div class="large-8 column">
        <h3>Have an issue?</h3>
      </div>
      <div class="large-4 column">
        <%= link_to contact_path, class: 'secondary button large-12' do %>
          Contact   us
        <% end %>
      </div>
    <% else %>
      <div class="large-8 column">
        <h3>Never miss important news again</h3>
      </div>
      <div class="large-4 column">
        <%= link_to feed_path, class: 'button' do %>
          Sign up now
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="large-12 column footer-secondary">
  <div class="row ">
    <div class="large-3 column">
      
    </div>
    <div class="large-3 column">
      
    </div>
    <div class="large-3 column">
      
    </div>
  </div>
</div>
<div class="large-12 column footer-third">
  <div class="row ">
    <div class="large-12 column">
      <p class="text-center text-white">Made with Δ by <%= link_to 'http://www.twitter.com/rememberlenny' do %>Leonard K. Bogdonoff<% end %></p>
    </div>
  </div>
</div>